body{
    background-color: #191d32;
    font-family: 'Quicksand', sans-serif;
}

header{
    display: flex;
    margin-top: 0.25in;
    color: rgb(248, 244, 240);
    font-size: small;
    align-items: center;
    justify-content: space-between;
    margin-right: 0.75in;
}
#sl{
    display: flex;
}
a{
    text-decoration: none;
    color :white;

}
.now{
    color: #b831de;
}
#logoname{
    font-size: larger;
    margin-left: 1in;
    font-weight: 400;
}

#login{
    margin-left: 8.5in;
}
#signup{
    margin-left: 1in;
}

#main{
    display: flex;
    margin-top:1.55in ;
    margin-left: 2in;
}
#mright{
    display: flex;
    margin-left: 3.25in;
    margin-top: 25px;
}
button{
    margin-top: 0.35in;
    width: 2in;
    height: 40px;
    border-radius: 10px;
}

#logb{
    font-weight: bold;
    margin-right: 15px;
    color: #b831de;
    border-color: #b831de;
    background-color: #191d32;
}

#creb{
    background-color: #b831de;
    border-color: #b831de;
}

#mtext{
    font-size: 0.5in;
    font-weight: 300;
    color: rgb(243, 240, 233);
}

#mbtext{
    color:#b831de
}

#text1{
    font-size: 20px;
    width: 2.75in;
    color: rgb(248, 234, 234);
}
#footer{
    color: white;
    font-size: small;
    background-color: #333B55;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 19in;
    text-align: center;
}