body{
    background-color: #191d32;
    font-family: 'Quicksand', sans-serif;
}

header{
    display: flex;
    margin-top: 0.25in;
    color: rgb(248, 244, 240);
    font-size: small;
    align-items: center;
    justify-content: space-between;
    margin-right: 0.75in;
}
#sl{
    display: flex;
}

a{
    text-decoration: none;
    color :white;

}
.now{
    color: #b831de;
}

#logoname{
    font-size: larger;
    margin-left: 0.75in;
    font-weight: 400;
}

#signup{
    margin-left: 1in;
}

#main{
    display: grid;
    height: max-content;
    color: white;
    margin-top: 0.5in;
    justify-content: center;
}

#text1{
    text-align: center;
    margin-top: 20px;
}
#formt{
    font-weight: bold;
}

label{
    font-size: normal;
}
input{
    width: 480px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #333B55;
    border-radius: 10px;
    border-style: none;
    font-style: italic;
}

input::placeholder{
    color: lightgray;
}
#button{
    background-color: #b831de;
    width: 485px;
    color: white;
    margin-top: 10px;
}

#footer{
    color: white;
    font-size: small;
    background-color: #333B55;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 19in;
    text-align: center;
}